# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.xml
03_CW_Variables/.DS_Store
03_CW_Variables/.DS_Store
*.iml
04.Methods/.DS_Store
04.Methods/.idea/.name
04_HW_methods/.DS_Store
06_CW_Opers/.DS_Store
07_CW_If/.DS_Store
07_HW_drive/.DS_Store
07_HW_if/.DS_Store
08_CW_WhileInt/.DS_Store
08_HW_While/.DS_Store
09_CW_IntDecrSrc/.DS_Store
09_HW_methods/.DS_Store
10_CW_for/.DS_Store
10_HW_for/.DS_Store
11_CW_ASCII/.DS_Store
11_CW_ASCII/.DS_Store
HomeEducation/.DS_Store
CalcEnergy/.DS_Store
13_CW_String/.DS_Store
12_HW_Arrays/.DS_Store
12_CW_Arrays/.DS_Store
.project
*.prefs
14_CW_ArraysSort/.classpath
.DS_Store
.project
.project
14_HW_ArraysSort/.classpath
14_CW_ArraysSort/.classpath
15_CW_BinarySearch/.classpath
15_HW_BinarySearch/.classpath
CarsProject/.classpath
17_CW_Polymorph/.classpath
17_HW_Polymorph/.classpath
18_CW_Inheritance/.classpath
18_HW_Inheritance/.classpath
19_CW_UpDownCast/.classpath
19_HW_UpDownCast/.classpath
20_HW_Primitiv/.classpath
21_CW_JunitInr/.classpath
21_HW_JUnitTest/.classpath
22_CW_Wrapper_Args/.classpath
22_HW_Calculator/.classpath
23_CW_Strings/.classpath
23_HW_Strings/.classpath
24_CW_StringBuilder/.classpath
24_HW_StringBuilder/.classpath
25_CW_RegExp/.classpath
25_HW_RegExp/.classpath
26_HW_regexp_mail/.classpath
27_CW_Pattern_Matcher/.classpath
27_HW_PhotoSelect/.classpath
27_HW_PhotoSelector/.classpath
28_CW_MassMedia/.classpath
29_CW_Arrays/.classpath
.DS_Store
30_CW_MyArrays/.classpath
