.field
{
  position: relative;
  box-sizing: content-box;
  margin: auto;
  border: 2px solid darkgreen;
  width: 40vw;
  height: 40vw;
  min-width: 300px;
  min-height: 300px;
}

.playerForm
{
  margin-top: 4vw;
  text-align: center;
  line-height: 10vw;
}

.readyForWar
{
  text-shadow: 2px 2px grey;
  text-align: center;
  -webkit-text-stroke: 1px white;
  color: royalblue;
  font-size: 5vw;
  font-weight: bold;
}

.small
{
  font-size: 3vw;
  color: black;
}

.playerName
{
  border: 2px solid green;
  font-size: 2.5vw;
  text-align: center;
  padding: 1vw;
  color: royalblue;
  font-weight: bold;
  max-width: 60%;
}

.playerName::placeholder
{
  color: black;
  text-shadow: 1px 1px grey;
}

.startButton
{
  color: white;
  background-color: royalblue;
  font-size: 2.5vw;
  border-radius: 10px;
  padding: 1vw;
  min-width: 40%;
}

.players
{
  font-size: 2.5vw;
  color: black;
  text-shadow: 1px 1px grey;
}

.computer
{
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.you
{
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}

.playerDeck
{
  width: 11vw;
  height: 15vw;
  border: 1px solid royalblue;
  margin: 8% auto auto auto;
  position: relative;
  text-align: center;
  vertical-align: center;
}

.ingameButton
{
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  font-size: 2.5vw;
  color: white;
  background-color: royalblue;
  border-radius: 10px;
  padding: 1vw;
  min-width: 25%;
}
img
{
  width: 100%;
}
